[submodule "pulp-runtime"]
	path = sw/pulp-runtime
	url = https://github.com/pulp-platform/pulp-runtime.git
[submodule "regression_tests"]
	path = sw/regression_tests
	url = https://github.com/pulp-platform/regression_tests.git
[submodule "sw/regression_tests_efclSolutions"]
	path = sw/regression_tests_efclSolutions
	url = https://github.com/FondazioneChipsIT/regression_tests.git
[submodule "ips_backup/pulp_soc"]
	path = ips_backup/pulp_soc
	url = https://github.com/stevenchien123/pulp_soc.git
